/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
p {
  color: #f2f2f2;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
}

p {
  font-size: 0.95rem;
  font-family: "Lexend Deca", sans-serif;
}

.btn {
  font-family: "Lexend Deca", sans-serif;
  padding: 0.5em 1.5em;
  border: 0;
  outline: none;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  background: #f2f2f2;
  -webkit-transition: all 20s0ms ease-in-out;
  transition: all 20s0ms ease-in-out;
}

.btn:hover {
  color: #f2f2f2;
  background: transparent;
  cursor: pointer;
}

main {
  max-width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
}

.container {
  min-width: 350px;
  width: 90%;
  margin: 0 auto;
  padding: 5em 0;
}

.card {
  max-width: 500px;
  margin: 0 auto;
}

.card > * {
  padding: 3em;
}

.card .sedan {
  background: #e38826;
}

.card .suv {
  background: #006970;
}

.card .lexury {
  background: #004241;
}

.card .content > * + * {
  margin-top: 1.5em;
}

.card .content .btn-sedan {
  color: #e38826;
  -webkit-transition: color 20s0ms ease-in-out;
  transition: color 20s0ms ease-in-out;
}

.card .content .btn-sedan:hover {
  color: #f2f2f2;
}

.card .content .btn-suv {
  color: #006970;
  -webkit-transition: color 20s0ms ease-in-out;
  transition: color 20s0ms ease-in-out;
}

.card .content .btn-suv:hover {
  color: #f2f2f2;
}

.card .content .btn-lexury {
  color: #004241;
  -webkit-transition: color 20s0ms ease-in-out;
  transition: color 20s0ms ease-in-out;
}

.card .content .btn-lexury:hover {
  color: #f2f2f2;
}

@media only screen and (min-width: 950px) {
  main {
    min-height: 100%;
    min-height: 100vh;
  }
  .container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .card {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card > * {
    padding: 4em 3em;
  }
  .card .btn {
    margin-top: 4em;
  }
}
/*# sourceMappingURL=main.css.map */